

.navbar-light .navbar-nav .nav-link,
 .navbar-light .navbar-toggler,.navbar-light .navbar-brand,.navbar-light a,a
    {
        color:green;
    }



*{
    color:green;

}
#gree{

    margin-left: 0px;


    }

.modal {
    color:#cdcfcd;
}

#post_image:hover{
width: 90%;
height: 90%;
opacity: 0.90;
}
#well{
    padding:8px;
    margin-top:10px;
    background:#eff7f0;
    border-left:3px solid green;
}

#well #h5 a:after{
     color:#b8ee7d;
 }

nav{
    font-size:10pt;
     font-family:Aliens & cows;
     text-transform: uppercase;
}
p{
    font-family:Bauhaus 93;
}

.navbar-brand{
    font-size:25pt;
    font-family:Cinema St;
    }


#main_s2{
height:auto;
background:white;
margin-bottom: 30px;
}

@media screen and (min-width: 774px)
{


    #post_image{
        width:100%;
        height:300px;
    }

#text1{
    font-size:40pt;
    font-family:Blackoak Std;

}
#text2, #text3{
    font-size:20pt;
    font-family:Franklin Gothic, Medium Arial Narrow
    Arial, sans-serif;

  }
  #center p{
    color:white;
    padding: 10px;
    margin-top: 200px;
    font-size: 20pt;
    font-family: Book Antiqua;
}

    #pully{
        margin-left: 500px;

    }

.rot{
    transform:rotate(-28.22deg);
}
#ul{
    background-color: green;
    height: auto;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    margin-top: 200px;
    margin-right: 0px;
    padding:2px 2px;
}
#ul li a{
    color:white;
}

#ul li{
    display: inline-block;
    list-style:none;


    margin: 6px 6px;
    padding: 6px 6px;
   }
  }
  @media screen and (max-width: 700px)
  {


    #img-res{

        margin-left:300px;
    }
}


  @media screen and (max-width: 1000px)
  {

    #img-res{

        margin-left:300px;
    }
    #post_image{
        width:100%;
        height:300px;
    }
    #doom ul li{
        color:white;
        list-style:none;
        font-size: small;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 5px;
    }
    #center p{
        color:white;
        padding: 10px;
        margin-top: 200px;
        font-size: 17pt;
        font-family: Book Antiqua;
    }
      #pully{
          margin-left:200px;
        }
        #text1{
            font-size:25pt;
            font-family:Blackoak Std;
        }

        #text2, #text3{
            font-size:18pt;
            font-family:Franklin Gothic, Medium Arial Narrow
            Arial, sans-serif;

          }
          #step{
            margin-left:30px;
        }


#ul{
    display: none;
}
    }

    @media screen and (min-width:470px){
              #gree{

            margin-left: 30px;


            }}
            @media screen and (max-width:470px){
                #gree{

              margin-left: 30px;


              }



    }
     @media screen and (max-width: 400px)
    {
        #post_image{
            width:100%;
            height:300px;
        }
#step{
    margin-left:10px;
}
        #center p,#doom ul li{
            color:white;
            padding: 10px;
            margin-top: 200px;
            font-size: 13pt;
            font-family: Book Antiqua;
        }
        #doom ul li{
            color:white;
            list-style:none;
            font-size: smaller;
            font-weight: bold;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            padding: 5px;
        }
        #pully{
            margin-left:200px;
        }
  #text1{
      font-size:17pt;
       font-family:Blackoak Std;
  }

  #text2, #text3{
    font-size:13pt;
    font-family:Franklin Gothic, Medium Arial Narrow
    Arial, sans-serif;

  }


  #ul{
      display: none;
  }
      }




 nav{
background:white;
 }

#gree{
width: 200px;
height: auto;
background-color: green;


}
#gree span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20pt;
    color: white;
    padding: 7px;
}
#side{
    background-color: green;
    height: auto;
    border-top-left-radius: 20px;
    margin-top: 40px;
}
#side table tr td{
    color:white;
    padding: 6px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
#side table{
    margin-top: 30px;
}

#doom{
    margin-top: 30px;
    background-color: green;
    height: auto;

}
a:hover{
    color:green;
}

#doom span{
    color:white;
    font-size: 20pt;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;

}

#ro{
    font-family: E-SQUARE;
    font-size: 15pt;
    margin-bottom: 180px;
}
    #ro table tr td{
        margin-left: 10px;



}
#me{
    margin-top: 50px;
    height: auto;
    margin-bottom: 40px;

}
#me p{
    font-size: 30pt;
    font-family: E-SQUARE;
    font-weight:bold ;
    padding: 16px;
}
#center{
    background-color: green;
    height:630px;
    margin-top: 20px;


}


#center:hover{
    background-color:black;
    color:green;
}
#button{
    padding: 14px;
    border: 2px solid white;
    width: auto;
    height: auto;
    color:white;
    font-size: 12pt;
}
footer{
    background-color: green;
    height: 100pt;
}
#rom img{
    margin-left: 80px;
    margin-bottom: 20px;
}
#rom p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:15pt;
}
#colorme{
    font-weight: bold;
    font-size:larger;
    color:green;
}
#rom{
    margin-top: 40px;
    margin-bottom: 30px;
}
#navbarsExampleDefault ul li:hover{
border-bottom: 2px solid green;
}
#form form label{
    color:white;
}
#form{
   border-left: 2px solid white;
background-color: $cyan;
    color:white;

}
